header {
    background-color: lightblue;
    text-align: center;
  
  }
  
  h2 {
    text-align:center;
    background-color: lightgreen;
    color: purple;
  }
  
  h3 {
    text-align:center;
    background-color: silver;
    color: darkolivegreen;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

